sample-node.json
[{"id":"99aef16a.237ef8","type":"change","z":"5166e2b3.05706c","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":311,"y":857,"wires":[["210d3df2.43b202"]]},{"id":"583666d1.93c858","type":"switch","z":"5166e2b3.05706c","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":341,"y":697,"wires":[["e861ec8e.1e558"],["99aef16a.237ef8"]]},{"id":"c9c3fea2.7e6758","type":"http in","z":"5166e2b3.05706c","name":"","url":"/callwatson","method":"get","swaggerDoc":"","x":161,"y":697,"wires":[["583666d1.93c858"]]},{"id":"e861ec8e.1e558","type":"template","z":"5166e2b3.05706c","name":"Prompt images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to a Watson Visual Recognition sample Face Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"http://sysrun.haifa.il.ibm.com/ibm/history/exhibits/chairmen/images/watsonsr.jpg\" height='200'/>\n    <img src=\"http://www.awaken.com/wp-content/uploads/2015/05/forbes.jpg\" height='200'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/LinuxCon_Europe_Linus_Torvalds_03.jpg/220px-LinuxCon_Europe_Linus_Torvalds_03.jpg\" height='200'/>\n    <img src=\"http://smashinghub.com/wp-content/uploads/2012/01/nb5.jpg\" height='200'/>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":601,"y":697,"wires":[["5dab1d26.c63bfc"]]},{"id":"700344fa.833354","type":"template","z":"5166e2b3.05706c","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition v3 Image Analysis</h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n    <table border='1'>\n        <thead><tr><th>Age Range</th><th>Confidence</th><th>Gender</th><th>Confidence</th><th>Name</th></tr></thead>\n        {{#result.images.0.faces}}<tr>\n            <td><b>{{age.min}} - {{age.max}}</b></td><td><i>{{age.score}}</i></td>\n            <td>{{gender.gender}}</td><td>{{gender.score}}</td>\n            <td>{{identity.name}} ({{identity.score}})</td>\n        </tr>{{/result.images.0.faces}}\n    </table>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":651,"y":797,"wires":[["5dab1d26.c63bfc"]]},{"id":"5dab1d26.c63bfc","type":"http response","z":"5166e2b3.05706c","name":"","x":951,"y":697,"wires":[]},{"id":"210d3df2.43b202","type":"visual-recognition-v3","z":"5166e2b3.05706c","name":"","apikey":"","image-feature":"detectFaces","x":321,"y":997,"wires":[["700344fa.833354","580ab334.24b97c","ffefceb2.263858","6442ab79.56eacc"]]},{"id":"580ab334.24b97c","type":"debug","z":"5166e2b3.05706c","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":631,"y":1097,"wires":[]},{"id":"ffefceb2.263858","type":"template","z":"5166e2b3.05706c","name":"Print result via a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Template functions can access the json array via this .0. notation.\n// See the Watson Visual Recognition v3 API Documentation at\n// https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual-recognition/get_v3_detect_faces\n\nFirst face in result is a {{result.images.0.faces.0.gender.gender}} !","x":631,"y":897,"wires":[["421d04f1.d4b61c"]]},{"id":"421d04f1.d4b61c","type":"debug","z":"5166e2b3.05706c","name":"","active":true,"console":"false","complete":"payload","x":971,"y":897,"wires":[]},{"id":"6442ab79.56eacc","type":"function","z":"5166e2b3.05706c","name":"Is this a Celebrity","func":"// A function to determine if this image contains a celebrity.\n// Functions can access the msg.result via array indexes\n// Watson Visual Recognition v3 API Documentation is post here:\n// https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/?node#detect_faces\nvar i=0;\nvar Celebrity=0;\nvar CelebrityName=\"No one famous detected\";\n\n// There might be multiple faces in this image.\n// Loop through the faces and determine if Watson has\n// detected the identity of at least one celebrity.\nwhile ( msg.result.images[0].faces[i] ) {\n    if (msg.result.images[0].faces[i].identity != null) {\n        Celebrity=1;\n        CelebrityName=msg.result.images[0].faces[i].identity.name;\n    }\n    i++;\n}\n\nmsg.payload = CelebrityName;\n// if a Celebrity was found, send the Name to output 1\n// else send the default \"No one famous detected\" to output 2\nif (Celebrity == 1) {\n        return [ msg, null ];\n} else {\n    return [ null, msg ];\n}\n","outputs":"2","noerr":0,"x":611,"y":997,"wires":[["f7beed8e.82ff7"],["df7c6c77.8f265"]]},{"id":"df7c6c77.8f265","type":"debug","z":"5166e2b3.05706c","name":"","active":true,"console":"false","complete":"payload","x":971,"y":1017,"wires":[]},{"id":"f7beed8e.82ff7","type":"template","z":"5166e2b3.05706c","name":"Paparazzi","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This image contains a celebrity: {{payload}} !","x":811,"y":957,"wires":[["df7c6c77.8f265"]]}]
